Repository modern-agile-team/dongurami-front-v2, pull requests merged in 2023-12, with the labels that each got.

#35 feat(QYOG-8): 회원가입 페이지 레이아웃 작업 및 유저정보 상태관리
  src/apis/signUp.ts
  src/containers/SignUp/Form/Form.tsx
Labels: ✨ Feature

#34 feat(QYOG-22): 추가된 api 사항 적용 및 class 형 api 선언 방식 주석 처리
  src/@types/apis/Apis.d.ts
  src/apis/auth.ts
  src/apis/boards.ts
  src/apis/index.ts
  src/apis/instance.ts
  src/apis/major.ts
  src/apis/users.ts
Labels: 🤝 API

#36 feat(QYOG-10): validator 클래스 형태로 변경
  src/__test__/SignUp.test.tsx
  src/apis/users.ts
  src/containers/SignUp/Form/Form.tsx
  src/utils/validator/validator.ts
Labels: 🤝 API, ✅ Test

#37 로그인 후처리 로직 추가
  src/apis/instance.ts
  src/globalState/accessToken.ts
  src/globalState/index.ts
  src/globalState/loginStatus.ts
  src/hooks/useAuth/useAuth.ts
  src/pages/index.tsx
Labels: ✨ Feature

#38 자유 게시판 및 공지 게시판 페이지 추가
  src/@types/apis/Apis.d.ts
  src/apis/boards/freeBoard.ts
  src/apis/boards/noticeBoard.ts
  src/apis/instance.ts
  src/components/Provider/DonguramiProvider.tsx
  src/components/UI/Pagination/Pagination.tsx
  src/components/UI/Pagination/index.ts
  src/components/UI/index.ts
  src/containers/Board/InfinityScrollBoard/InfinityScrollBoard.tsx
  src/containers/Board/InfinityScrollBoard/emotion.ts
  src/pages/board/free/index.tsx
  src/pages/board/infinity/index.tsx
  src/pages/board/notice/index.tsx
  src/pages/board/pagenation/index.tsx
  src/pages/index.tsx
  tsconfig.json
  tsconfig.test.json
Labels: ✨ Feature, 🤝 API

#39 feature(QYOG-26): 자유, 공지게시판 조회 및 삭제
  jest.config.js
  package-lock.json
  package.json
  src/apis/boards/freePost.ts
  src/apis/boards/index.ts
  src/components/UI/Quill/Quill.tsx
  src/components/UI/Quill/index.ts
  src/components/UI/index.ts
  src/containers/Board/DetailBoard/DetailBoard.tsx
  src/containers/Board/DetailBoard/emotion.ts
  src/containers/Board/DetailBoard/index.ts
  src/containers/Board/PagenationBoard/PagenationBoard.tsx
  src/containers/Board/PagenationBoard/index.ts
  src/containers/Board/PaginationBoard/PaginationBoard.tsx
  src/containers/Board/PaginationBoard/emotion.ts
  src/containers/Board/PaginationBoard/index.ts
  src/containers/Board/WriteBoard/WriteBoard.tsx
  src/containers/Board/WriteBoard/emotion.ts
  src/containers/Board/WriteBoard/index.ts
  src/containers/Board/index.tsx
  src/pages/board/free/detail/[postId].tsx
  src/pages/board/free/index.tsx
  src/pages/board/notice/detail/[postId].tsx
  src/pages/board/notice/index.tsx
  src/pages/board/write/index.tsx
  src/pages/index.tsx
  yarn.lock
Labels: ✨ Feature, 🤝 API

#41 feature(QYOG-26): 자유, 공지게시판 생성 및 수정
  src/apis/boards/index.ts
  src/apis/boards/noticePost.ts
  src/components/UI/Quill/Quill.tsx
  src/containers/Board/DetailBoard/index.ts
  src/containers/Board/DetailFreeBoard/DetailFreeBoard.tsx
  src/containers/Board/DetailFreeBoard/emotion.ts
  src/containers/Board/DetailFreeBoard/index.ts
  src/containers/Board/DetailNoticeBoard/DetailNoticeBoard.tsx
  src/containers/Board/DetailNoticeBoard/emotion.ts
  src/containers/Board/DetailNoticeBoard/index.ts
  src/containers/Board/WriteBoard/WriteBoard.tsx
  src/containers/Board/WriteBoard/index.ts
  src/containers/Board/WriteFreeBoard/WriteFreeBoard.tsx
  src/containers/Board/WriteFreeBoard/emotion.ts
  src/containers/Board/WriteFreeBoard/index.ts
  src/containers/Board/WriteNoticeBoard/WriteNoticeBoard.tsx
  src/containers/Board/WriteNoticeBoard/emotion.ts
  src/containers/Board/WriteNoticeBoard/index.ts
  src/containers/Board/index.tsx
  src/pages/board/free/detail/[postId].tsx
  src/pages/board/free/index.tsx
  src/pages/board/free/write/index.tsx
  src/pages/board/notice/detail/[postId].tsx
  src/pages/board/notice/index.tsx
  src/pages/board/notice/write/index.tsx
  src/pages/board/write/index.tsx
Labels: ✨ Feature, 🔨 Refactor, 🤝 API
